*{
    box-sizing: border-box;
}

body{
    background-color:#f1f1f2 ;

}

table{
    margin:auto;
    border: 4px solid black;
    background-color: white;
}

tr,
td,
th {
    border: 2px solid black;
    margin: 4px;
    padding: 2px;
    text-align:center;
}

h1,
h2{
    text-align:center;
    margin:30px;
}

h3,
h5{
    text-align:center;
    margin:10px
}

h4{
    text-align: center;
    color:blue;
    margin:10px;
}

p{
    margin: 10px auto;
    text-align: center;
    max-width:500px
}
.end-of-section{
    margin-bottom: 50px;
}

.code-style{
    background-color:navy;
    color:greenyellow;
}

.example{
    text-align:left;
}